[report]
omit=doc
	 benchmarks
	 */api.py
	 */__init__.py
	 */__config__.py
	 yt/visualization/_mpl_imports.py
	 yt/utilities/lodgeit.py
	 yt/utilities/lru_cache.py
	 yt/utilities/fits_image.py
	 yt/utilities/poster/*
	 yt/extern/*
	 yt/mods.py
	 yt/analysis_modules/*
