[run]
plugins = Cython.Coverage

[report]
omit=doc
	 benchmarks
	 */api.py
	 */__init__.py
	 */__config__.py
	 visualization/_mpl_imports.py
	 yt/utilities/lodgeit.py
	 */utilities/lru_cache.py
	 utilities/fits_image.py
	 utilities/poster/*
	 */extern/*
	 yt/mods.py
	 analysis_modules/*
